/* Navbar.css */
.navbar {
  
    color: #cf0202;
    padding: 20px 0;
    margin-left: 20px 0;
    margin-right: 20px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu li a:hover {
    text-decoration: underline;
  }
  